<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Arrays in Vue</title>
    </head>

    <body>
        <div id="app">
            <h1 v-once>{{ tittle }}</h1>
            <input type="text" placeholder="Nombre" v-model="name"/>
            <input type="text" placeholder="Producto" v-model="product"/>
            <input type="date" placeholder="Fecha de venta" v-model="date" />
            <input type="number" placeholder="Precio" v-model.number="cost" @keyup.enter="registerSale()" />
            <button v-on:click="registerSale()">{{btnText}}</button>
            <ul>
                <li v-for="item in sales">
                    {{item.name}} vendió {{item.product}} en {{item.cost}} el {{item.date}}
                </li>
            </ul>
        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <!--https://raw.githubusercontent.com/openexchangerates/accounting.js/master/accounting.js-->
        <script src="lib/accounting.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.js"></script>
        <script src="app.js"></script>
    </body>

</html>