<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>Index</title>
</head>
<body>
  <img src="/img/logo.png" alt="logo" >
  <form action="/user" method="post">
    <label for="user">Nombre</label>
    <input type="text" name="user">
    <label for="user">Carrera</label>
    <input type="text" name="carrera">
    <input type="submit" value="Enviar">
  </form>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>