<img src="/img/logo.png" alt="logo">
<h1>Agregar estudiante</h1>
<form action="/student/add" method="post">
    <label for="name">Nombre</label>
    <input type="text" id="name" name="nombre">
    <label for="carrera">Carrera</label>
    <input type="carrera" id="carrera" name="carrera">
    <input type="submit" value="Enviar">
</form>