<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <h1>Crear Post</h1>
            <form method="POST" action="/posts/addPost/{{id}}">
                <div class="mb-3">
                    <label for="text" class="form-label">Texto</label>
                    <textarea class="form-control" id="text" name="text" rows="10" cols="50" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
