<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <img src="/img/student.png" alt="logo" class="student"/>
            {{#if user}}
            <h1>Modificar estudiante</h1>
            <form method="POST" action="/student/{{user._id}}?_method=PUT">
            {{else}}
            <h1>Agregar estudiante</h1>
            <form action="/student/" method="post">
            {{/if}}
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" value="{{ user.name }}" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="avg" class="form-label">Promedio</label>
                    <input type="number" class="form-control" id="avg" name="avg" max="10" min="0" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Correo</label>
                    <input type="email" class="form-control" value="{{ user.email }}" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
