#app {
  width: 100%;
  height: auto;
  text-align: center;
}

button {
  width: 25%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0.5em;
  padding: 1em;
}

.dec {
  background-color: cadetblue;
  color: white;
}

.inc {
  background-color: crimson;
  color: aliceblue;
}

table {
  margin-left: auto;
  margin-right: auto;
}

tr,
td {
  border: 1px solid #ccc;
}

td {
  width: 50px;
  height: 50px;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}
