<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Arrays in Vue</title>
    </head>

    <body>
        <div id="app">
            <h1 v-once>{{ tittle }}</h1>
            <input type="text" placeholder="Nombre" v-model="lastUser" />
            <input type="number" placeholder="Promedio" v-model.number="lastScore" />
            <button v-on:click="registerUser(1)">Register user</button>
            <ul>
                <li v-for="(user, i) in users">
                    {{user}} tiene {{scores[i]}} de promedio
                </li>
            </ul>
        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="app.js"></script>
    </body>

</html>