* {
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
}
body {
    margin: 0;
}
#app {
    margin: 3rem auto;
    max-width: 40rem;
    padding: 2rem;    
}
label, input {
    display: block;
    width: 100%;
}
label {
    font-weight: bold;
}
ul {
    list-style: none;
    margin: 1 rem 0;
}