<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>DSC ESCOM</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{> navbar }}
        {{{ body }}}
        {{> footer }}
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
